body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: black;
  position:absolute;
  height:79%;
  overflow: auto;
  margin-top: -21px;
}
li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color:red;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
h1{
  text-align:center;
  color:black;
  padding-right: 250px;
}